<!DOCTYPE html>
<html lang="en">
<%- include("partialsindex/header") -%>
<style>
    .notice-show {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .notive-a {
        color: rgb(106, 158, 85);
    }

    @media(min-width: 765px) {
        .img-responsive {}
    }

    .seperator-hr {
        height: 10px;
        position: relative;
        width: 70%;
        background: radial-gradient(ellipse farthest-side at top center, rgba(73, 71, 71, 0.39), transparent)
    }

    .seperator-hr:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        right: 0;
        left: 0;
        height: 3px;
        background: linear-gradient(left, transparent, rgba(121, 21, 21, 0.068), rgba(175, 50, 50, 0.02), transparent)
    }
</style>

<body>
    <!-- PRE LOADER -->
    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

                <!-- lOGO TEXT HERE -->
                <a style="padding:5px 0 0;" href="/" class="navbar-brand"><img style="width: 40px;"
                        src="images/icons/jbn_logo_final.png" alt=""></a>
            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <li class="nav-item">
                        <a class="nav-link" href="/#about" class="smoothScroll">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/management" class="smoothScroll">management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/syllabus">
                            Syllabus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/results">
                            Results
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/admission" class="smoothScroll">Admission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/facilities" class="smoothScroll">Facilities</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#contact" class="smoothScroll">Contact</a>
                    </li>
                </ul>


            </div>
        </div>
    </section>

    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="row">
            <div class="owl-carousel owl-theme">
                <!-- <div class="item item-first">
                        <div class="caption">
                            <div class="container">
                                <div class="col-md-8 col-sm-12">
                                    <h3>Eatery Cafe &amp; Restaurant</h3>
                                    <h1>
                                        Guruvarya B. S. Naik Memorial Trust’s
                                        Dr. J. B. Naik Arts & Commerce College, Sawantwadi.

                                    </h1>
                                    <a
                                        href="/management"
                                        class="section-btn btn btn-default smoothScroll"
                                        >Management</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div> -->

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Guruvarya B. S. Naik Memorial
                                    Trust’s</h3>
                                <h1>

                                    Dr. J. B. Naik Arts & Commerce College, Sawantwadi
                                </h1>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Guruvarya B. S. Naik Memorial Trust’s</h3>
                                <h1>

                                    Dr. J. B. Naik Arts & Commerce College, Sawantwadi
                                </h1>

                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section id="about" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div style="padding-right: 0;" class="col-md-6 col-sm-12">
                    <div class="about-info" style="padding-right: 0;">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                            <h4>Read our story</h4>
                            <h2 style="font-size:2rem">
                                Dr. J. B. Naik Arts & Commerce College, Sawantwadi is an UG College working since 2007
                                and affiliated to <a target="_blank" href="https://mu.ac.in/">Mumbai
                                    University</a>

                            </h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>
                                The Institution focuses on Academic Excellence, along with the highest achievements in
                                Cultural, Sports, and Social
                                Education. The Institution offers an unmatched Educational Environment surrounded by
                                various other Institutions while
                                being situated an equally unmatched location.

                            </p>
                            <p>
                                The Institution serves over 700 young lives in learning and prospering each year. This
                                is possible due to a Management
                                and Staff dedicated to creating educational awareness in today’s information age
                                and aspiring youngsters in the rural
                                areas to fulfill their dreams. The Institution is up to date with modern teaching and
                                learning facilities and up and
                                ready to provide unhindered education in modern times by embracing the latest
                                technologies.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div style="padding-bottom: 20px;" class="wow fadeInUp about-image" data-wow-delay="0.6s">
                        <img style="height:35rem; width:35rem" src="images/icons/jbn_logo_final.png"
                            class="img-responsive" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Notices -->
    <section style="
                background-image: url(https://images.unsplash.com/photo-1501503069356-3c6b82a17d89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
                background-attachment: fixed;
            " id="testimonial">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Notice board</h2>
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="owl-carousel owl-theme">
                        <% let length = notice.length; if(length >= 4){ %>
                        <% for(var i= 0; i< length ; i++){ %>
                        <div class="item notice-show">
                            <% if(typeof notice[i] !== "undefined"){ %>
                            <p><%= notice[i].notice %></p>
                            <% if(notice[i].drive){ %>
                            <a class="notive-a" target="_blank" href=<%= notice[i].drive %>>Click to open the notice</a>
                            <% } %>
                            <% } %>

                            <!-- <div class="tst-author">
                                    <h4>Digital Carlson</h4>
                                    <span>Pharetra quam sit amet</span>
                                </div> -->
                        </div>
                        <% } }else if(length<4 && length > 0 ){ %>
                        <% for(var j= 0; j<length; j++){ %>
                        <div class="item notice-show">
                            <p><%= notice[j].notice %></p>
                            <% if(notice[j].drive){ %>
                            <a class="notive-a" target="_blank" href=<%= notice[j].drive %>>Click to open the notice</a>
                            <% } %>
                            <!-- <div class="tst-author">
                                            <h4>Digital Carlson</h4>
                                            <span>Pharetra quam sit amet</span>
                                        </div> -->
                        </div>
                        <% }}else{ %>
                        <p> No notices available to show! </p>
                        <%} %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- In Memory Of-->
    <section id="team" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>In Fond Memory Of</h2>
                        <hr class="seperator-hr">
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="images/management/Dr_J_B_Naik.webp" class="img-responsive" alt="" />
                        <div class="team-hover">
                            <div class="team-item">
                                <h4>
                                    Co-Founder of Anandibai Raorane College, Vaibhavwai and YCM, Nashik Sawantwadi Study
                                    Centre.
                                    Had major social contributions through Medical Service in Mumbai.
                                    Contributed a lion’s share in the foundation of Bhaisaheb Sawant Ayurvedic College,
                                    Sawantwadi.
                                    At the same time, worked as a socialist and a politician.

                                </h4>

                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>Dr. J. B. Naik</h3>

                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s" style="display: inline-block;">
                        <img src="images/DSC01278.webp" class="img-responsive" alt="" />
                        <div class="team-hover">
                            <div class="team-item">
                                <h4>
                                    Co-Founder of B. S. Naik Memorial Trust.
                                    Ex-Principal of Waradkar High School & Jr. College, Katta, Malvan.
                                    Worked as the Chairman, Marketing Federation, Maharashtra.
                                    Later held the position of the Chairman of SIndhudurg Dsitcit Central Cooperative
                                    Bank.
                                    Also a member, Malvan Taluka Kharidi Vikri Sangha.

                                </h4>

                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>D. B. Dholam</h3>

                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="images/management/B_S_Naik.webp" class="img-responsive" alt="" />
                        <div class="team-hover">
                            <div class="team-item">
                                <h4>
                                    Worked on Education Awareness and Public Service 50 years ago.
                                    Active in Social and Political work.
                                    Spread educational awareness amongst farmers in rural areas.
                                    Establishmed ‘Shikshan Prasarak Mandal’ in 1946, as both Chairman & Secretary.
                                    Voluntarily retired in 1953 as an Education Officer only to work as
                                    the Principal in his first establishment, Rani Parvati Devi, in 1954.

                                </h4>

                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>B. S. Naik</h3>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Photo Gallery -->
    <section id="menu" data-stellar-background-ratio="0.5" style="background-color: rgba(228, 226, 225, 0.623);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Photo Gallery</h2>
                        <hr class="seperator-hr">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="images/random_images/1.jpg" class="image-popup">
                            <img src="images/random_images/1.jpg" class="img-responsive" alt="" />


                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="images/random_images/2.jpg" class="image-popup">
                            <img src="images/random_images/2.jpg" class="img-responsive" alt="" />
                        </a>
                    </div>
                </div>



                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="images/random_images/4.jpg" class="image-popup">
                            <img src="images/random_images/4.jpg" class="img-responsive" alt="" />
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="images/random_images/5.JPG" class="image-popup">
                            <img src="images/random_images/5.JPG" class="img-responsive" alt="" />
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="images/random_images/6.JPG" class="image-popup">
                            <img src="images/random_images/6.JPG" class="img-responsive" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="images/random_images/7.JPG" class="image-popup">
                            <img src="images/random_images/7.JPG" class="img-responsive" alt="" />
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!-- CONTACT -->
    <section id="contact" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.4s">
                    <div id="google-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1918.530187473377!2d73.8206794!3d15.9059076!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbff55db2aaeef1%3A0xdf663f72c43ac0cd!2sDr.%20J.%20B.%20Naik%20Arts%20%26%20Commerce%20College!5e0!3m2!1sen!2sin!4v1599901627664!5m2!1sen!2sin"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                            <h2>Contact Us</h2>
                        </div>
                    </div>

                    <!-- CONTACT FORM -->
                    <form class="wow fadeInUp" id="contact-form" role="form" data-wow-delay="0.8s">
                        <!-- IF MAIL SENT SUCCESSFUL  // connect this with custom JS -->
                        <h6 class="text-success">
                            Your message has been sent successfully.
                        </h6>

                        <!-- IF MAIL NOT SENT -->
                        <h6 class="text-danger">
                            E-mail must be valid and message must be longer
                            than 1 character.
                        </h6>

                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" id="cf-name" name="name" placeholder="Full name" />
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <input type="email" class="form-control" id="cf-email" name="email"
                                placeholder="Email address" />
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <input type="text" class="form-control" id="cf-subject" name="subject"
                                placeholder="Subject" />

                            <textarea class="form-control" rows="6" id="cf-message" name="message"
                                placeholder="what's your messege"></textarea>

                            <button class="form-control" id="cf-submit" name="submit">
                                Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer id="footer" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-8">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">
                                Find us
                            </h2>
                        </div>
                        <address class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>
                                Moti Talao Rd, Salaiwada, Sawantwadi, Maharashtra - 416510

                            </p>
                        </address>
                    </div>
                </div>

                <div class="col-md-3 col-sm-8">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2 style="color: black;" class="wow fadeInUp" data-wow-delay="0.2s">
                                Contact Us
                            </h2>
                        </div>
                        <address class="wow fadeInUp" data-wow-delay="0.4s">
                            <p></p>
                            <p>
                                <a href="mailto:jbnaikcollege@gmail.com
                        ">jbnaikcollege@gmail.com
                                </a>
                            </p>
                            <p></p>
                        </address>
                    </div>
                </div>

                <div class="col-md-4 col-sm-8">
                    <div class="footer-info footer-open-hour">
                        <div class="section-title">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">
                                Office Hours
                            </h2>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>Sunday: Closed</p>
                            <div>
                                <strong>Monday to Friday</strong>
                                <p>11:00 AM - 4:00 PM</p>
                            </div>
                            <div>
                                <strong>Saturday</strong>
                                <p>8:00 AM - 12:00 PM</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4">


                    <div class="wow fadeInUp copyright-text" data-wow-delay="0.8s">
                        <p><br />Copyright &copy; 2020 <br />Dr. J. B. Naik Arts & Commerce College, Sawantwadi</p>
                        <p>
                            designed and created by
                            <span class="last-name">esqb Technologies </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <%- include("partialsindex/footer") -%>
    <script>
        $("form").submit(function (e) {
            e.preventDefault();
        });
        $("#cf-submit").click(function () {
            console.log("clicked")
            $.ajax({
                type: "POST",
                url: "/messagePost",
                data: { email: $("#cf-email").val(), name: $("#cf-name").val(), subject: $("#cf-subject").val(), message: $("#cf-message").val() },
                success: function (data) {
                    window.alert("message sent successfully!!!");
                    $("#cf-email").val("")
                    $("#cf-name").val("")
                    $("#cf-subject").val("")
                    $("#cf-message").val("")
                }
            })
        })
    </script>
</body>

</html>